@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #FFFAFA;
    margin-left: 13%;
    margin-top: 20px;
    margin-right: 13%;
    font-family: 'PT Sans',sans-serif;
}
.nav{
    display: inline-flex; 
    align-items: center;   
}
.sant{
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    margin: 0;
    padding-left: 10px;
    color: #F3BE05;
}
h1{
    color: #F3BE05;
    font-size: 64px;
}
img.logo{
    width: 74px;
    height: 74px;  
}
img.mee{
    position: relative;
    width: 40%;
    margin-left: 10%;
    
}
.maincontent{
    display:flex;
    justify-content: space-between;
    vertical-align:middle;
    width:max-content;
}
.designer{
    position: absolute;
    width: 281px;
    height: 191px;
   margin-left: 55%;
   margin-top: 13%;
   line-height:28px;
}
.artist
{
    position: absolute;
    width: 203px;
    height: 191px;
    margin-top: 13%;
    line-height: 28px;
    

   
}
p{
    color: #282828;
}
.undercons{
    display:flex;
    background-color: #EFEFEF;
    margin-top: 0px;
}
.under{
    padding-top: 10%;
    padding-left: 30%;
}