*{
    margin: 0%;
    padding: 0%;
   
}
body
{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#7b28b2,#2d0d61);
    
}
.namelog
{
    display: flex;
    float: left;
    align-items: center;
    margin: 30px;
}
h1{
    font-family: monospace, Courier ;
    color: #ffe28b;
}
.logo
{
    width:100px;
    height:100px;
}
.image
{
    vertical-align: middle;
    padding-top: 150px;
    padding-left: 500px;
    padding-bottom: 150px;
}